.side-main
  .side-bar__name
    .side-bar__name-box
      %p.side-bar__name-box__user-name
        = current_user.name
      %ul.side-bar__name-box__menu
        %li.side-bar__name-new
          = link_to new_group_path do
            = icon('fas','edit')
        %li.side-bar__name-edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar
    - current_user.groups.each do |group|
      .side-bar__group
        = link_to '#' do
          .side-bar__group-name
            = group.name
          .side-bar__group-text
            まだメッセージがありません
